
.header {
  position: fixed;
  width: 100%;
  top: 0;
  /* padding: 30px 0; */
  margin: 1px;
  height: 60px;
  /* border: 1px solid #B7BEC5; */
  box-shadow: 1px .8px #B7BEC5

}
.menu {
  display: block;
  float: left;
  width: 185px;
  height: 60px;
  /* padding: 17px 3.6px; */
}



.menu-span {
  float: left;
  margin: 15px 8px;
}

.menu-span span {
  /* float: left; */
  padding-left: 3px;
  display: block;
  margin: 5px 0;
  border-radius: 2px;
  width: 25px;
  height: 3px;
  background: #B7BEC5;
}

.menu img {
  float: right;
  margin: 18px 20px;
}

.menu-info {
  /* float: right; */
  /* padding: 11px 7px; */
  height: 60px;
  margin-left: 210px;
  /* width: 800px; */
}

.menu-info p {
  display: inline;
  /* float: left; */
  text-align: left;
  font-family: Roboto;
  font-weight: bold;
  color: #575757;
  padding-left: 10px;

}

.menu-info span {
  font-size: .7em;
  font-weight: normal;
}

.menu-info p::after {
  content: 'Chamada Ativa';
  color: #fff;
  font-weight: normal;
  display: inline-block;
  width: 144px;
  height: 20px;
  background: #8E24AA;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0 10px 5px;
  margin-left: 150px;
}

.menu-info::after {
  content: 'Pausas';
  color: #000;
  border: 1px solid #B7BEC5;
  font-weight: normal;
  font-size: .8em;
  display: inline-block;
  width: 144px;
  height: 20px;
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  margin: 10px;
}

.menu-info a {
  float: right;
  margin: 20px 60px 20px 0;
  text-decoration: none;
  font-family: roboto;
  color: #B7BEC5;
  font-size: .8em;  
}

.lateral-esquerdo {
  float: left;
  position: fixed;
  width: 60px;
  /* height: 509px; */
  /* border: 1px solid #B7BEC5; */
  margin-top: 62px;
  margin-left: 1px;
  padding: 50px 4px;
  padding-bottom: 100%;
  box-shadow: 1px 1px .8px #B7BEC5
}

.lateral-esquerdo ul li {
  padding: 20px 0;
  text-align: center
}
.container-section::before, .container-section::after {
  content: '';
  display: table;
  clear: both;
}
.principal {
  background: #575757;
}

.container-principal {
  float: left;
  position: fixed;
  margin: 70px 0 70px 81px;
  width: 987px;
  border: 1px solid #B7BEC5;
  padding: 10px 25px;
  padding-bottom: 390px;
  box-shadow: 1px 1px .8px #B7BEC5;
  /* height: 566px; */
}

.container-principal span {
  display: block;
  margin: 30px auto;
  background: #bbb9b9;
  width: 970px;
  height: 1px;
  box-shadow: 1px .1px rgb(76, 76, 77)

}

.principal-header h3 {
  float: left;
  color: #005DAA;
}

.principal-header ul li {
  float: right;
  /* display: inline; */
  padding: 0 5px;
}